.underline-animation {
    position: relative;
  }
  
  .underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #38a169; /* Tailwind green-600 */
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .active-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #38a169; /* Tailwind green-600 */
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  